.header-container {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 28px;
  font-weight: 600;
  line-height: 42px;
}

.work {
  font-size: 20px;
  line-height: 30px;
  font-style: italic;

  margin-bottom: 24px;

  color: #b3b3b3;
}

.photoProfile {
  border-radius: 24px;
  width: 325px;
  height: 285px;

  align-self: center;
}
